#main_narrow
  #main_narrow_container
    #main_narrow_left
      #prizes_header
        %h1= t('prizes.header')
      #prizes_copy
        %p= simple_format t('prizes.grand_prize')
        %h4= t('prizes.weekly_prize_header')
        %p= simple_format t('prizes.weekly_prize')
      #prize_notes
        = simple_format t('prizes.note')
        = simple_format t('prizes.note_two')
      %ul#landing_prizes
        %li.bordered
          = image_tag('milk_bags.png')
        %li.bordered
          = image_tag('bay_card.png')
        %li
          = image_tag('ipad.png')

    #main_narrow_right
      = image_tag('milk_carton.png')