#contact_page
  #contact_header
    %h1= t "contact.header"
  #contact_copy
    = simple_format t "contact.copy"
  = form_for @message, :url => contact_index_path do |f|
    .row-fluid
      .span24
        .field
          = f.label I18n.t('contact.form.first_name')
          %br
          = f.text_field :first_name
          .error= @message.errors['first_name'].first
      .span1
      .span24
        .field
          = f.label I18n.t('contact.form.last_name')
          %br
          = f.text_field :last_name
          .error= @message.errors['last_name'].first
    .row-fluid
      .span48
        .field
          = f.label I18n.t('contact.form.email_address')
          %br
          .wide
            = f.text_field :email_address
          .error= @message.errors['email_address'].first
    .row-fluid
      .span48
        .field
          = f.label I18n.t('contact.form.subject')
          %br
          = f.select :subject, I18n.t('contact.form.subject_options').map{|key, value| [value[:option], value[:value]]}
          .error= @message.errors['subject'].first
    .row-fluid
      .span48
        .field
          = f.label I18n.t('contact.form.message')
          %br
          = f.text_area :message
          .error= @message.errors['message'].first

    .row-fluid
      .span22
        .field
          = recaptcha_tags :display => {:theme => 'custom', :custom_theme_widget => 'recaptcha_widget'}
          = render 'shared/recaptcha'
          .error= @message.errors['recaptcha'].first

    = f.submit I18n.t('helpers.submit')