#contact_page
  #contact_header
    %h1= t "contact.header"
  #contact_copy
    = simple_format t "contact.copy"
  = form_for @message, :url => contact_index_path do |f|
    .row-fluid
      #left
        .field
          = f.label I18n.t('contact.form.first_name')
          %br
          = f.text_field :first_name, :placeholder => I18n.t('contact.form.prompt.first_name')
      #right
        .field
          = f.label I18n.t('contact.form.last_name')
          %br
          = f.text_field :last_name, :placeholder => I18n.t('contact.form.prompt.last_name')
    #full
      .field
        = f.label I18n.t('contact.form.email_address')
        %br
        .wide
          = f.text_field :email_address, :placeholder => I18n.t('contact.form.prompt.email_address')
    #full
      .field
        = f.label I18n.t('contact.form.subject')
        %br
        = f.select :subject, I18n.t('contact.form.subject_options').map{|key, value| [value[:option], value[:value]]}
        .error= @message.errors['subject'].first
    .row-fluid
      .span48
        .field
          = f.label I18n.t('contact.form.message')
          %br
          = f.text_area :message
          .error= @message.errors['message'].first

    .row-fluid
      #left
        .field
          = recaptcha_tags :display => {:theme => 'custom', :custom_theme_widget => 'recaptcha_widget'}
          = render 'shared/recaptcha_contact'
          .error= @message.errors['recaptcha'].first
      #right
        .field
          %input#recaptcha_response_field{:name => "recaptcha_response_field", :type => "text", :placeholder => I18n.t('register.form.prompt.recaptcha')}
        = f.submit I18n.t('contact.form.submit')