#main_wide
  #main_wide_container
    #challenge_five_container.challenge_container
      .row
        #main_wide_left
          #challenge_intro_copy
            = t('challenges.intro.challenge_five')
            %h2= simple_format t('challenges.contest_name.challenge_five')
            = link_to do
              #start_challenge_button
                = t('challenges.start_button')
        #main_wide_right
          = image_tag('milk_carton.png')
