#main_narrow
  #main_narrow_container
    #main_narrow_left
      #challenges_header
        %h1= t('challenges.completed.header')
      #challenges_copy.completed
        #next_challenge_copy.completed
          #tagline= t('challenges.completed.tagline')
          %h2
            = simple_format t('challenges.completed.subheader')
          #galaxy_tab= image_tag('galaxy_tab.png')
          #challenge_tagline
            = t('challenges.completed.subtagline')
          %ul#landing_prizes
            %li.bordered
              = image_tag('milk_bags.png')
              .landing_prizes_header.left
                = t('challenges.landing_prizes.milk_bags.header')
              .landing_prizes_copy.left
                = simple_format t('challenges.landing_prizes.milk_bags.copy')
            %li.bordered
              = image_tag('landing_prize_social_share.jpg')
              .landing_prizes_header
                = t('challenges.landing_prizes.bay.header')
              .landing_prizes_copy
                = simple_format t('challenges.landing_prizes.bay.copy')
            %li
              = image_tag('ipad.png')
              .landing_prizes_header
                = t('challenges.landing_prizes.ipad.header')
              .landing_prizes_copy
                = simple_format t('challenges.landing_prizes.ipad.copy')
    #main_narrow_right
      = render 'progress_chart'