#main_narrow
  #main_narrow_container
    #main_narrow_left
      #challenges_header
        %h1= t('challenges.completed.header')
      #challenges_copy.completed
        #next_challenge_copy.completed
          #tagline= t('challenges.completed.tagline')
          %h2
            = simple_format t('challenges.completed.subheader')
          #galaxy_tab= image_tag('galaxy_tab.png')
          #challenge_tagline
            = t('challenges.completed.subtagline')
          %ul#landing_prizes
            %li.bordered
              = image_tag('milk_bags.png')
              .landing_prizes_header.left
                = t('challenges.landing_prizes.milk_bags.header')
              .landing_prizes_copy.left
                = simple_format t('challenges.landing_prizes.milk_bags.copy')
            %li.bordered
              = image_tag('landing_prize_social_share.jpg')
              .landing_prizes_header
                = t('challenges.landing_prizes.bay.header')
              .landing_prizes_copy
                = simple_format t('challenges.landing_prizes.bay.copy')
            %li
              = image_tag('ipad.png')
              .landing_prizes_header
                = t('challenges.landing_prizes.ipad.header')
              .landing_prizes_copy
                = simple_format t('challenges.landing_prizes.ipad.copy')
    #main_narrow_right
      #progress_chart
        .row-fluid
          .span8
          .span43
            #step_one.row-fluid{:class => [@latest_challenge >= 1 ? 'completed' : '', Date.today <= Date.new(2013,3,3) ? 'inactive' : 'active']}
              .span18
                .shield
                  1
              .span29
                #challenge_text
                  - if @latest_challenge >= 1
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_one')
            #step_two.row-fluid{:class => [@latest_challenge >= 2 ? 'completed' : '', Date.today <= Date.new(2013,4,8) ? 'inactive' : 'active']}
              .span18
                .shield
                  2
              .span29
                #challenge_text
                  - if @latest_challenge >= 2
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_two')
            #step_three.row-fluid{:class => [@latest_challenge >= 3 ? 'completed' : '', Date.today <= Date.new(2013,4,22) ? 'inactive' : 'active']}
              .span18
                .shield
                  3
              .span29
                #challenge_text
                  - if @latest_challenge >= 3
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_three')
            #step_four.row-fluid{:class => [@latest_challenge >= 4 ? 'completed' : '', Date.today <= Date.new(2013,5,6) ? 'inactive' : 'active']}
              .span18
                .shield
                  4
              .span29
                #challenge_text
                  - if @latest_challenge >= 4
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_four')
            #step_five.row-fluid{:class => [@latest_challenge >= 5 ? 'completed' : '', Date.today <= Date.new(2013,5,20) ? 'inactive' : 'active']}
              .span18
                .shield
                  5
              .span29
                #challenge_text
                  - if @latest_challenge >= 5
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_five')
            #step_six.row-fluid{:class => [@latest_challenge >= 6 ? 'completed' : '', Date.today <= Date.new(2013,6,3) ? 'inactive' : 'active']}
              .span18
                .shield
                  6
              .span29
                #challenge_text
                  - if @latest_challenge >= 6
                    = t('challenges.progress.challenge_completed')
                  - else
                    = t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_six')
            #progress_copy
              = simple_format t('challenges.progress.copy')
            #progress_tagline
              = simple_format t('challenges.progress.tagline')