#main_narrow
  #main_narrow_container
    #main_narrow_left
      #challenges_header
        %h1= t('challenges.index.header')
      #challenges_copy
        #next_challenge_copy
          %h2= simple_format t('challenges.index.next_challenge_header')
          = link_to challenges_path do
            #click_here_to_get_started
        %ul#landing_prizes
          %li.bordered
            = image_tag('milk_bags.png')
            .landing_prizes_header.left
              = t('landing.landing_prizes.milk_bags.header')
            .landing_prizes_copy.left
              = simple_format t('landing.landing_prizes.milk_bags.copy')
          %li.bordered
            = image_tag('bay_card.png')
            .landing_prizes_header
              = t('landing.landing_prizes.bay.header')
            .landing_prizes_copy
              = simple_format t('landing.landing_prizes.bay.copy')
          %li
            = image_tag('ipad.png')
            .landing_prizes_header
              = t('landing.landing_prizes.ipad.header')
            .landing_prizes_copy
              = simple_format t('landing.landing_prizes.ipad.copy')
    #main_narrow_right
      #progress_chart
        .row-fluid
          .span8
          .span43
            #step_one.completed.row-fluid
              .span18
                .shield
                  1
              .span29
                #challenge_text= t('challenges.progress.challenge_completed')
                #challenge_date= t('challenges.dates.challenge_one')
            #step_two.active.row-fluid
              .span18
                .shield
                  2
              .span29
                #challenge_text= t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_two')
            #step_three.inactive.row-fluid
              .span18
                .shield
                  3
              .span29
                #challenge_text= t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_three')
            #step_four.inactive.row-fluid
              .span18
                .shield
                  4
              .span29
                #challenge_text= t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_four')
            #step_five.inactive.row-fluid
              .span18
                .shield
                  5
              .span29
                #challenge_text= t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_five')
            #step_six.inactive.row-fluid
              .span18
                .shield
                  6
              .span29
                #challenge_text= t('challenges.progress.challenge_active')
                #challenge_date= t('challenges.dates.challenge_six')
            #progress_copy
              = simple_format t('challenges.progress.copy')
            #progress_tagline
              = simple_format t('challenges.progress.tagline')