!!! html
%html
  %head
    %title Purmoments
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span37
          .row
            %ul#header
              %li.left= link_to I18n.t('navigation.header.challenges'), main_app.challenges_path
              %li= link_to I18n.t('navigation.header.contest_prizes'), main_app.prizes_path
              %li= link_to I18n.t('navigation.header.rules'), main_app.how_to_play_path
              %li= link_to I18n.t('navigation.header.french')
          .row
            #banner
              = image_tag('lactantia_logo.png')
              = image_tag('purmoments_header.png')
        .span13.pull-right
          = render 'shared/login'
      .row-fluid
        .span51
          = yield
      .row-fluid
        .span1
        .span44
          .row-fluid
            .span51
              %ul#footer
                %li.left= link_to I18n.t('navigation.footer.terms_of_use'), main_app.terms_of_use_path
                %li= link_to I18n.t('navigation.footer.rules'), main_app.how_to_play_path
                %li= link_to I18n.t('navigation.footer.privacy_policy'), main_app.privacy_policy_path
                %li= link_to "www.lactantia.ca", 'http://www.lactantia.ca'
                %li= link_to I18n.t('navigation.footer.contact'), main_app.ajo_contact_path
                %li.right= link_to I18n.t('navigation.footer.french')
              #footer_notes
                = t('navigation.footer.trademarks')
        .span6
          #logo= image_tag('parmalat_logo.png')
