!!! html
%html
  %head
    %title Purmoments
    = stylesheet_link_tag    "facebook", :media => "all"
    = javascript_include_tag "facebook"
    = csrf_meta_tags
  %body
    #fb-root
    :javascript
      $('.postlike').removeClass('hidden')
      window.fbAsyncInit = function() {
        FB.init({
          appId     : '465089766897235',
          channelUrl: 'http://purmoments.herokuapp.com/facebook/channel.html',
          status    : true,
          cookie    : true,
          xfbml     : true
        });

         function loginUser() {
           FB.login(function(response) {
             if (response.authResponse) {
               console.log('Welcome!  Fetching your information.... ');
               FB.api('/me', function(response) {
                 console.log('Good to see you, ' + response.name + '.');
               });
             } else {
               console.log('User cancelled login or did not fully authorize.');
             }
           }, {scope: 'email'});
         };

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            getUser();
          } else if (response.status === 'not_authorized') {
            login();
          } else {
            login();
          }
        });


        function getUser() {
            FB.api({
              method: 'fql.query',
              query: 'SELECT uid FROM page_fan WHERE page_id = 282647008533017 AND uid = me()'},
              function (response) {
                if (response.length == 1) {
                  $('.postlike').removeClass('hidden');
                  FB.api('/me', function(user){
                    console.log(JSON.stringify(user));
                  })
                } else {
                  $('.prelike').removeClass('hidden');
                }
              }
            );
        };
      };

      (function(d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0]
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));


    .container.facebook_container
      .row-fluid
        .span14
          .row
            %ul#header
              %li.left= link_to 'CONTEST PRIZES', facebook_prizes_path
              %li= link_to 'HOW TO PLAY', facebook_how_to_play_path
              %li= link_to 'FRANCAIS'
          .row
            #banner
              = image_tag('facebook_logo.png')
              = image_tag('facebook_purmoments_logo.png')
        .span6
          #prelike_ribbon.prelike.hidden
            #like_us_copy
              = simple_format I18n.t('facebook.prelike.like_us_copy')
            .prelike_ribbon
              = image_tag('prelike_ribbon.png')
          #postlike_ribbon.postlike.hidden
            = simple_format I18n.t('facebook.postlike.ribbon')

      .row-fluid
        .span20
          #facebook_app_container
            = yield
      .row-fluid
        .span17
          .row-fluid
            .span20
              %ul#footer
                %li.left= link_to I18n.t('navigation.footer.terms_of_use'), main_app.terms_of_use_path
                %li= link_to I18n.t('navigation.footer.rules'), main_app.how_to_play_path
                %li= link_to I18n.t('navigation.footer.privacy_policy'), main_app.privacy_policy_path
                %li= link_to "www.lactantia.ca", 'http://www.lactantia.ca'
                %li= link_to I18n.t('navigation.footer.contact'), facebook_contact_path
                %li.right= link_to I18n.t('navigation.footer.french')
              #footer_notes
                = t('navigation.footer.trademarks')
        .span3
          #logo= image_tag('parmalat_logo.png')
    :javascript
      $('.postlike').removeClass('hidden')
